<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Todo App!</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <script src="/js/vue.global.js"></script>

    <header>
        <span id="textHeader">Todo list!</span>
        <span id="subHeader">- Nice and Simple</span>
    </header>

    <main id="app">
        <div>
            <div id="tabsBackground"></div>
            <div id="tabs">
                <div v-for="tab in tabs" class="tab" :class="{ 'opened-tab': tab.isActive }" 
                    :title="tab.name" @click="selectTab(tab.id)">
                    <input class="main-text" :value="tab.name" @change="changeTabName(tab, $event)"></input>

                    <span class="deleteTab" @click.stop="deleteTab(tab)">&cross;</span>
                </div>
                <button id="addTabButton" @click="addNewTab">+</button>
            </div>

            <section>
                <div class="todo-item" v-for="todoItem in getSelectedTab()?.todoItems">
                    <div class="tickmark-block" @click="markTodoItem(todoItem)">
                        <div class="tickmark-circle">
                            <div v-bind:class="{ 'tickmark-tick': true, 'hidden': !todoItem.isChecked }">
                            </div>
                        </div>
                    </div>

                    <input class="todo-item-text" :value="todoItem.text" @change="changeTodoItemText(todoItem, $event)"></input>
                    <span class="deleteTodoItem" @click.stop="deleteTodoItem(todoItem)">&cross;</span>
                </div>

                <div class="todo-item">
                    <div class="tickmark-block">
                        <div class="tickmark-circle">
                        </div>
                    </div>

                    <input class="todo-item-text" placeholder="Новый todo пункт" @change="addTodoItem" v-model="newTodoItemText"></input>
                </div>
            </section>
        </div>
    </main>

    <footer>
        <span id="sideFooterText">Илья Завьялов: <a href="mailto:ilya.zavyalov0@gmail.com">ilya.zavyalov0@gmail.com</a></span>
        <span id="yearText">2022</span>
    </footer>
    <script src="js/index.js"></script>
</body>
</html>